.fade{
    &-enter{ //before ０から１まで１秒かけて変わる
        opacity: 0;
        &-to{ //after
            opacity: 1;
        }
        &-active{ //between
            transition: opacity 1s;
        }
    }
    &-leave{
        opacity: 1;
        &-to{
            opacity: 0;
        }
        &-active{
            transition: opacity 1s;
        }
    }
}